# Ignore all checkpoints
checkpoints/
# Ignore data folders
data/
# Ignore wandb local files
wandb/
# Ignore Python cache files
__pycache__/
*.pyc
# Ignore artifacts
artifacts/
# Ignore nn_models
nn_models/